#date {
	-webkit-box-sizing: content-box !important;
	   -moz-box-sizing: content-box !important;
			box-sizing: content-box !important;
 }
 
 #date: before,
 #date: after {
	-webkit-box-sizing: content-box !important;
	   -moz-box-sizing: content-box !important;
			box-sizing: content-box !important;
 }